@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --upb-red: 345 99% 50%;
    --upb-purple: 275 100% 62%;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: var(--upb-purple);
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--upb-purple);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Keep list styles in markdown editor */
  .markdown-editor ul,
  .markdown-editor ol {
    list-style: revert;
  }
}

.w-md-editor {
  --md-editor-box-shadow-color: hsl(var(--border));
}
